function Main.main 15
push constant 0
pop local 10
push constant 0
not
pop local 13
label WHILE_EXP0
push local 13
not
if-goto WHILE_END0
label WHILE_EXP1
push local 12
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 12
push constant 2000
call Menu.showMenu 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 12
push constant 32
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 13
label IF_FALSE0
label WHILE_EXP2
push local 12
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 12
push constant 2000
call Menu.showMenu 1
pop temp 0
push local 11
push constant 1
add
pop local 11
push local 11
call Utils.createCarril 1
call Obstacle.new 1
pop local 1
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 3
push constant 104
call Player.new 2
pop local 0
push constant 0
call Obstacle.new 1
pop local 2
push constant 0
call Obstacle.new 1
pop local 3
push constant 0
call Obstacle.new 1
pop local 4
push constant 0
call Obstacle.new 1
pop local 5
push constant 0
call Obstacle.new 1
pop local 6
call Screen.clearScreen 0
pop temp 0
push local 0
call Player.draw 1
pop temp 0
push local 1
call Obstacle.draw 1
pop temp 0
label WHILE_EXP3
push local 10
not
not
if-goto WHILE_END3
label WHILE_EXP4
push local 12
push constant 0
eq
not
if-goto WHILE_END4
push local 7
push constant 1
add
pop local 7
call Keyboard.keyPressed 0
pop local 12
push local 14
push constant 1000
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 8
push constant 1
gt
push local 8
and
push constant 35
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push local 7
call Obstacle.setSeed 2
pop temp 0
push local 1
call Obstacle.moveLeft 1
pop temp 0
label IF_FALSE2
push local 8
push constant 40
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push local 7
call Obstacle.setSeed 2
pop temp 0
push local 1
call Obstacle.moveLeft 1
pop temp 0
push local 2
push local 7
call Obstacle.setSeed 2
pop temp 0
push local 2
call Obstacle.moveLeft 1
pop temp 0
label IF_FALSE3
push local 7
push constant 1
add
pop local 7
push local 7
push constant 100
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 8
push constant 1
add
pop local 8
push constant 0
pop local 7
label IF_FALSE4
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push local 8
call Output.printInt 1
pop temp 0
push constant 0
pop local 14
label IF_FALSE1
push local 14
push constant 1
add
pop local 14
goto WHILE_EXP4
label WHILE_END4
call Keyboard.keyPressed 0
pop local 12
push local 12
push constant 131
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
call Player.moveUp 1
pop temp 0
label IF_FALSE5
push local 12
push constant 133
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
call Player.moveDown 1
pop temp 0
label IF_FALSE6
push local 12
push constant 81
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
not
pop local 10
label IF_FALSE7
push local 7
push constant 1
add
pop local 7
call Keyboard.keyPressed 0
pop local 12
push local 14
push constant 1000
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 8
push constant 1
gt
push local 8
and
push constant 35
lt
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 1
push local 7
call Obstacle.setSeed 2
pop temp 0
push local 1
call Obstacle.moveLeft 1
pop temp 0
label IF_FALSE9
push local 8
push constant 40
gt
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 1
push local 7
call Obstacle.setSeed 2
pop temp 0
push local 1
call Obstacle.moveLeft 1
pop temp 0
push local 2
push local 7
call Obstacle.setSeed 2
pop temp 0
push local 2
call Obstacle.moveLeft 1
pop temp 0
label IF_FALSE10
push local 7
push constant 1
add
pop local 7
push local 7
push constant 100
gt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 8
push constant 1
add
pop local 8
push constant 0
pop local 7
label IF_FALSE11
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push local 8
call Output.printInt 1
pop temp 0
push constant 0
pop local 14
label IF_FALSE8
push local 14
push constant 1
add
pop local 14
label WHILE_EXP5
push local 12
push constant 0
eq
not
not
if-goto WHILE_END5
push local 7
push constant 1
add
pop local 7
call Keyboard.keyPressed 0
pop local 12
push local 14
push constant 1000
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push local 8
push constant 1
gt
push local 8
and
push constant 35
lt
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push local 1
push local 7
call Obstacle.setSeed 2
pop temp 0
push local 1
call Obstacle.moveLeft 1
pop temp 0
label IF_FALSE13
push local 8
push constant 40
gt
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push local 1
push local 7
call Obstacle.setSeed 2
pop temp 0
push local 1
call Obstacle.moveLeft 1
pop temp 0
push local 2
push local 7
call Obstacle.setSeed 2
pop temp 0
push local 2
call Obstacle.moveLeft 1
pop temp 0
label IF_FALSE14
push local 7
push constant 1
add
pop local 7
push local 7
push constant 100
gt
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push local 8
push constant 1
add
pop local 8
push constant 0
pop local 7
label IF_FALSE15
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push local 8
call Output.printInt 1
pop temp 0
push constant 0
pop local 14
label IF_FALSE12
push local 14
push constant 1
add
pop local 14
goto WHILE_EXP5
label WHILE_END5
goto WHILE_EXP3
label WHILE_END3
push constant 0
return
