function Main.main 6
push constant 2
push constant 6
call Player.new 2
pop local 0
push constant 20
push constant 15
call Obstacle.new 2
pop local 1
push constant 0
pop local 2
push constant 0
not
pop local 4
label WHILE_EXP0
push local 4
not
if-goto WHILE_END0
label WHILE_EXP1
push local 3
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 3
goto WHILE_EXP1
label WHILE_END1
push local 3
push constant 32
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 4
label IF_FALSE0
label WHILE_EXP2
push local 3
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 3
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP3
push local 2
not
not
if-goto WHILE_END3
label WHILE_EXP4
push local 3
push constant 0
eq
not
if-goto WHILE_END4
call Keyboard.keyPressed 0
pop local 3
push local 5
push constant 1000
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
call Obstacle.moveLeft 1
pop temp 0
push constant 0
pop local 5
label IF_FALSE1
push local 5
push constant 1
add
pop local 5
goto WHILE_EXP4
label WHILE_END4
call Keyboard.keyPressed 0
pop local 3
push local 3
push constant 131
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
call Player.moveUp 1
pop temp 0
label IF_FALSE2
push local 3
push constant 133
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
call Player.moveDown 1
pop temp 0
label IF_FALSE3
push local 3
push constant 81
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop local 2
label IF_FALSE4
push local 5
push constant 1000
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 1
call Obstacle.moveLeft 1
pop temp 0
push constant 0
pop local 5
label IF_FALSE5
push local 5
push constant 1
add
pop local 5
label WHILE_EXP5
push local 3
push constant 0
eq
not
not
if-goto WHILE_END5
call Keyboard.keyPressed 0
pop local 3
push local 5
push constant 1000
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 1
call Obstacle.moveLeft 1
pop temp 0
push constant 0
pop local 5
label IF_FALSE6
push local 5
push constant 1
add
pop local 5
goto WHILE_EXP5
label WHILE_END5
goto WHILE_EXP3
label WHILE_END3
push constant 0
return
